<div>
    <h1>{{event.name}}</h1>
    <ul >
        <li>
            Adresse:
            {{event.location.name}}<br>
            {{event.location.street}}<br>
            {{event.location.zipCode}} {{event.location.city}}
        </li>
        <li>
            Von:{{event.times.begin|date:"dd.MM.yyyy' at 'hh:mm"}}<br>
            Bis:{{event.times.end|date:"dd.MM.yyyy' at 'hh:mm"}}
        </li>
        <li>
            {{event.description}}
        </li>
        <li>
            {{event.targetGroup}}
        </li>
        <li>
            {{event.maximalAmountOfGuests}}
        </li>
        <li>
            {{event.contributionsDescription}}
        </li>
        <li><label>Gäste:</label>
        <div ng-repeat="guest in event.guests">
            <div ng-show="!guest.cancelled">
                <a href="#/events/{{event.id}}/guests/{{guest.id}}">
                    {{guest.name}}
                </a>
            </div>
        </div>
        </li>
        <a href="#/events/{{event.id}}/guests/new">
            <button type="submit" class="btn btn">Anmelden</button>
        </a>
        <a href="#/events/edit/{{event.id}}">
            <button type="submit" class="btn btn">Event bearbeiten</button>
        </a>
    </ul>
</div>