<h1>{{event.name}}</h1>
<div class="row">
    <div class="col-xs-2"><p>Adresse:</p></div>
    <div class="col-xs-2">
        <div class="row"><div class="col-xs-2">{{event.location.name}}</div></div>
        <div class="row"><div class="col-xs-2">{{event.location.street}}</div></div>
        <div class="row"><div class="col-xs-2">{{event.location.zipCode}}</div></div>
        <div class="row"><div class="col-xs-2">{{event.location.city}}</div></div>

    <div class="col-xs-6"><p>Adresse:</p></div>
    <div class="col-xs-6">
        <div class="row">{{event.location.name}}</div>
        <div class="row">{{event.location.street}}</div>
        <div class="row">{{event.location.zipcode}} {{event.location.city}}</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2"><p>Von:</p></div>
    <div class="col-xs-2">{{event.times.begin|date:"dd.MM.yyyy' um 'hh:mm"}}</div>
</div>
<div class="row">
    <div class="col-xs-2"><p>Bis:</p></div>
    <div class="col-xs-2">{{event.times.end|date:"dd.MM.yyyy' um 'hh:mm"}}</div>
</div>
<div class="row">
    <div class="col-xs-2"><p>Beschreibung</p></div>
    <div class="col-xs-2">
        {{event.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2"><p>Zielgruppe</p></div>
    <div class="col-xs-2">
        {{event.targetGroup}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2"><p>Gästemaximum</p></div>
    <div class="col-xs-2">
        {{event.maximalAmountOfGuests}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2"><p>Beitragsmöglichkeit</p></div>
    <div class="col-xs-2">
        {{event.contributionsDescription}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2"><p>Gäste:</p></div>
    <div class="col-xs-2">
        <div ng-repeat="guest in event.guests">
            <a href="#/events/{{event.id}}/guests/{{guest.id}}">
                {{guest.name}}
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <a href="#/events/edit/{{event.id}}">
            <button type="submit" class="btn btn">Event bearbeiten</button>
        </a>
    </div>
    <div class="col-xs-2">
        <a href="#/events/{{event.id}}/guests/new">
            <button type="submit" class="btn btn">Anmelden</button>
        </a>
    </div>
</div>
