<h1>{{event.name}}</h1>
<div class="row">
    <div class="col-xs-6"><p>Adresse:</p></div>
    <div class="col-xs-6">
        <div class="row">{{event.location.name}}</div>
        <div class="row">{{event.location.street}}</div>
        <div class="row">{{event.location.zipCode}}</div>
        <div class="row">{{event.location.city}}</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6"><p>Von:</p></div>
    <div class="col-xs-6">{{event.times.begin|date:"dd.MM.yyyy' at 'hh:mm"}}</div>
</div>
<div class="row">
    <div class="col-xs-6"><p>Bis:</p></div>
    <div class="col-xs-6">{{event.times.end|date:"dd.MM.yyyy' at 'hh:mm"}}</div>
</div>
<div class="row">{{event.description}}</div>



        <li>
            {{event.description}}
        </li>
        <li>
            {{event.targetGroup}}
        </li>
        <li>
            {{event.maximalAmountOfGuests}}
        </li>
        <li>
            {{event.contributionsDescription}}
        </li>
        <li><label>Gäste:</label>
        <div ng-repeat="guest in event.guests">
            <div ng-show="!guest.cancelled">
                <a href="#/events/{{event.id}}/guests/{{guest.id}}">
                    {{guest.name}}
                </a>
            </div>
        </div>
        </li>
        <a href="#/events/{{event.id}}/guests/new">
            <button type="submit" class="btn btn">Anmelden</button>
        </a>
        <a href="#/events/edit/{{event.id}}">
            <button type="submit" class="btn btn">Event bearbeiten</button>
        </a>
    </ul>
</div>