<h1 class="title">{{guest.name || "Neuer Gast"}}</h1>
<form action="#" name="editGuestForm">
    <h1>Anmelden</h1>
    <div class="row list-group-item">
        <div class="col-xs-6">
            <p>Name</p>
        </div>
        <div class="col-xs-6"><input ng-required="true" name="guestName" data-ng-model="guest.name" class="form-control"/>
            <span style="color:red" ng-show="editGuestForm.guestName.$dirty && editGuestForm.guestName.$invalid">
                <span ng-show="editGuestForm.guestName.$error.required">
                    Name eingeben.
                </span>
            </span>
        </div>
    </div>

    <div class="row list-group-item">
        <div class="col-xs-6">
            <p>Beitrag</p>
        </div>
        <div class="col-xs-6"><input ng-required="true" name="guestContribution" data-ng-model="guest.contribution" class="form-control"/>
            <span style="color:red" ng-show="editGuestForm.guestContribution.$dirty && editGuestForm.guestContribution.$invalid">
                <span ng-show="editGuestForm.guestContribution.$error.required">
                    Beitrag eingeben.
                </span>
            </span>
        </div>
    </div>

    <div class="row list-group-item">
        <div class="col-xs-6">
            <p>Kommentar</p>
        </div>
        <div class="col-xs-6"><input ng-required="true" name="guestComment" data-ng-model="guest.comment" class="form-control"/>
            <span style="color:red" ng-show="editGuestForm.guestComment.$dirty && editGuestForm.guestComment.$invalid">
                <span ng-show="editGuestForm.guestComment.$error.required">
                    Kommentar eingeben.
                </span>
            </span>
        </div>
    </div>

    <div class="row list-group-item">
        <div class="col-xs-6">
            <p>Absagen</p>
        </div>
        <div class="col-xs-6"><input type="checkbox" data-ng-model="guest.canceled" /></div>
    </div>

    <div class="row list-group-item">
        <div><button type="submit" ng-disabled="editGuestForm.$invalid" class="form-control btn" data-ng-click="create(guest)">Senden</button></div>
    </div>
</form>