<form action="#">
    <div>
        <label>Name</label>
        <input data-ng-model="event.name" />
    </div>

    <div>
        <label>Name</label>
        <input data-ng-model="event.name" />
    </div>

    <div>
        <label>Name</label>
        <input data-ng-model="event.name" />
    </div>

    <div>
        <label>Name</label>
        <input data-ng-model="event.name" />
    </div>

    <div>
        <label>Name</label>
        <input data-ng-model="event.name" />
    </div>

    <div>
        <input type="submit" data-ng-click="create(event)">
    </div>
</form>