<h1 class="title">Upcoming Events</h1>
<div>
    <ul data-ng-controller="eventListController" class="list-group">
        <li data-ng-repeat="event in events" class="list-group-item">
            <a href="#/events/{{event.id}}">
                <button type="button" class="btn btn-group">{{event.name}} at {{event.location.name}}<br>
                    from {{event.times.begin|date:"dd.MM.yyyy' at 'hh:mm"}} to
                    {{event.times.end|date:"dd.MM.yyyy' at 'hh:mm"}}
                </button>
            </a>
        </li>
        <a href="#/events/new">
            <button type="submit" class="btn btn">Add new Event</button>
        </a>
    </ul>
</div>