.btn {
    margin-bottom: 5rem;
    background-color: #761c19;
    color: #000000;
    width: 100%;
}
.container.body-content {
    background-color: lightgray;
    margin: 10px auto;
}
.header img {
    display: block;
    width: 750px;
    margin: 0 auto;
}
.styleContainer {
    max-width: 800px;
    color: #000000;
}
a{
    color: #000000
}
body {
    background-image: url("../img/img_background.jpg");
}
h1.title {
    text-align: center;
}
input{
    color: #0f0f0f
}